{% extends "AdminBundle::base.html.twig" %}

{% block title %}Admin - Categories{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/app/css/job.css') }}">
{% endblock %}

{% block body %}
    <a href="{{ url('admin_job_new') }}">Add new</a>
<table id="job_form">
    {% for category, job_array in jobs %}
    <tr>
        <th colspan="5">{{ category }}</th>
    </tr>
        <tr>
            <th>#</th>
            <th>Location</th>
            <th>Position</th>
            <th>Company</th>
            <th></th>
        </tr>
        {% for job in job_array %}
        <tr>
            <td>{{ job.id }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.position }}</td>
            <td>{{ job.company }}</td>
            <td><a href="{{ url('admin_job_edit', {'id': job.id}) }}">edit</a></td>
        </tr>
        {% endfor %}
    {% endfor %}
</table>
{% endblock %}
